body,
html {
  font-family: Roboto, sans-serif;
}
button,
input,
optgroup,
select,
textarea {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: #afed00;
}

#wrapper {
  background: white;
}

#index main #wrapper{
  padding-top: unset;
}

/* Accueuil*/
#header {
  background: #111111;
  .header-nav {
    min-height: 80px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 767px) {
  #header {
    .header-nav {
      display: none;
    }
  }
  #header,
  #header .header-top {
    background: #111111;
    min-height: 10vh;
    display: flex;
    width: 100%;
    .container {
      width: 90%;
      margin-block: auto;
    }
  }
}
@media (max-width: 767px) {
  #header .header-top {
    padding: 0;
    height: 0;
  }
  #header .header-nav {
    border-bottom: none;
    .container {
      width: 100%;
    }
  }
}
.header-top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.hidden-md-up.text-sm-center.mobile {
  display: flex;
}
.mobile_header_cta {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header_cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#header .header-nav #menu-icon .material-icons {
  color: white;
}
.header_cta svg {
  transition: stroke 0.4s;
}
.header_cta svg:hover {
  cursor: pointer;
  stroke: #afed00;
  transition: stroke 0.4s;
}
.header_cta a {
  display: flex;
  align-items: center;
}

#top-menu li::after {
  content: "";
  margin-top: 7px;
  display: block;
  width: 0%;
  height: 4px;
  background: #afed00;
  transition: width 0.4s;
}
#header .top-menu li:hover,
.dropdown-item:hover,
#header .top-menu a[data-depth="0"]:hover,
a:hover {
  transition: color 0.4s;
  color: #afed00;
}
#top-menu li:hover::after {
  width: 100%;
  transition: width 0.4s;
}
.top-menu a[data-depth="0"] {
  margin-top: 10px;
  padding: 0;
  position: relative;
  color: white;
}
#header .header-top a[data-depth="0"] {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  transition: color 0.4s;
}

#header .header-top a[data-depth="0"] {
  font-size: min(2vw, 1.5rem);
}

#header .top-menu {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 4vw;
}
#_desktop_logo {
  max-width: 200px;
}

#header .header-top > .container > .row:first-of-type {
  justify-content: space-around;
}

#_desktop_cart .cart-products-count {
  color: #afed00;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: -5px;
  left: 35px;
}
#_desktop_cart .mobile_cart_link .cart-products-count {
  color: #afed00;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  position: absolute;
  left: 25px;
}
.menu_people_mobile {
  display: flex;
  align-items: center;
}
#_desktop_cart .desktop_cart_link,
.mobile_cart_link {
  display: flex;
  align-items: start;
  position: relative;
}

#_mobile_top_menu .top-menu {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  #header .header-top > .container > .row:first-of-type {
    display: block;
  }
  #header .header-top a[data-depth="0"] {
    color: black;
    font-size: 2rem;
  }
}
/* Btn */

.btn-primary {
  background: #afed00;
  color: #111111;
  transition: all 0.4s;
}

.btn-primary:hover {
  color: #fff;
  border: 1px solid #111111;
  background-color: #afed00;
}

.btn-primary:disabled:hover {
  background-color: #afed00;
}
.btn-primary:focus {
  background: #fff;
  color: #111111;
  border: 1px solid #111111;
}

.btn-secondary {
  background: #afed00;
  color: #111111;
  transition: all 0.4s;
}

.btn-secondary:hover {
  background: #111111;
  color: #fff;
}

.btn-secondary:focus {
  background: #111111;
  color: #fff;
}

.product-cover{
  border: solid #AFED00;
}

/* Modal dialog */

.col-md-6 {
  position: relative;
}

.green-rectangle {
  display: block;
  position: absolute;
  top: 0.5rem;
  width: 2.5rem;
  height: 1rem;
  background: #afed00;
  z-index: 1;
}

#blockcart-modal .product-name {
  position: relative;
  font-size: 1.5rem;
  color: #111111;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: -2rem;
  z-index: 2;
}

#blockcart-modal .product-image {
  margin: 0;
}
.column .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.modal-body .col-md-6.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.column .row .row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
}

.modal-body .col-md-6.row2 {
  width: auto;
}

@media (min-width: 768px) {
  .modal-body .col-md-6.row2 {
    float: left;
    width: auto;
  }
}

.modal-body .col-md-6 .product-price,
.product-name,
.product-quantity {
  margin-bottom: 0;
}

#blockcart-modal .modal-body .divide-right span {
  display: inline-block;
  margin-bottom: 0;
}

/* Panier */

.card.cart-container .product-price {
  color: #111111;
}

.card.cart-container .separator {
  border-color: #afed00;
}

.col-md-6.col-xs-2.price {
  background-color: #afed00;
  padding: 0.25rem 0.5rem;
}

.label:hover {
  color: #afed00 !important;
}

.card-block.cart-detailed-subtotals + .cart-summary-totals .cart-total {
  border-top: 1px solid #afed00;
}

.card.cart-container .col-xs-2 {
  width: auto;
}

.card.cart-container .row.corbeille {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Marius */

.btn-wishlist {
  border: 3px solid #afed00;
}

.product-quantity {
  flex-direction: column;
}
.wishlist-button-add {
  border: 3px solid #afed00 !important;
  height: 2.75rem !important;
  width: 4rem !important;
  line-height: inherit !important;
  box-shadow: none !important;
  min-width: 0 !important;
  border-radius: 0 !important;
}
/* .wishlist-button-add i {
  display: none;
}

.wishlist-button-add::after {
  content: "Ajouter à la liste d'envie" !important;
} */

.wishlist-button-product {
  margin-left: 0 !important;
}
.wishlist-button-add:hover {
  background-color: #afed00;
  color: black;
  opacity: 1 !important;
}

.current-price {
  background-color: #afed00;
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.current-price-value {
  color: #111111;
}

.product-flags li.product-flag {
  color: #111111;
  background: #aefd00;
}
.out_of_stock {
  background-color: red !important;
  color: #fff !important;
}

.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle{
  background-color: #AFED00;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover{
  background-color: #AFED00;
}
a:focus, a:hover{
  color: #AFED00;
}
.product-price{
  color: #AFED00;
}

/* .tab-content {
  width: 50%;
} */

.tabs .nav-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
.tabs .nav-tabs .nav-link.active {
  border-bottom: #aefd00 3px solid;
  color: #aefd00;
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
  border-bottom: #aefd00 3px solid;
}
#main .tabs:first-child {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Réassurance */

#blockcart-modal .modal-header,
#product #block-reassurance {
  background-color: #afed00;
  color: #111111;
}
#block-reassurance ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#block-reassurance li {
  border-bottom: 0px solid rgba(0, 0, 0, 0.25);
}

#block-reassurance li .block-reassurance-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
}

#block-reassurance li .block-reassurance-item .h6 {
  text-align: center;
}

/* Order */

body#checkout .cart-grid-right .card .cart-summary-subtotals-container {
  border-top: 1px solid #afed00;
  border-bottom: 1px solid #afed00;
}

.product-name a {
  color: #afed00;
}

.cart-summary-line.cart-total .value {
  background-color: #afed00;
  padding: 0.25rem 0.5rem;
}

.js-show-details {
  color: #afed00;
}

.input-group .input-group-btn > .btn[data-action="show-password"] {
  padding: 0.78rem 1rem;
  color: #111111;
  background: #aeed005d;
}

.form-control {
  background: #afed0014;
}

body#checkout section.checkout-step.-reachable.-current .step-number {
  background-color: #afed00;
}

body#checkout section.checkout-step .address-item.selected {
  border: #afed00 3px solid;
}

.custom-radio input[type="radio"]:checked + span {
  background-color: #afed00;
}

.js-address-form a {
  color: #afed00;
}

.done {
  color: #afed00;
}

.product-quantity {
  margin-bottom: 1rem;
}
/*.col-md-6 {*/
/*  margin-top: 2rem;*/
/*}*/
.form-control:focus {
  border-color: #aefd00;
  outline: 0.1875rem solid #aefd00;
}
/* .product-prices div {
  margin: 0;
} */
.product-variants > .product-variants-item {
  margin: 0;
}
.product-information {
  margin-top: 2rem;
}

.product-images > li.thumb-container .thumb.selected,
.product-images > li.thumb-container .thumb:hover {
  border: #aefd00 3px solid;
}
.product-actions .add-to-cart {
  margin-right: 1rem;
}

.h1-description {
  color: black;
}
.page-content.page-cms ul,
p {
  color: lightgrey;
}

.product-actions .control-label {
  color: black;
}

#product-availability {
  color: #fff;
}

#product-availability .product-last-items,
#product-availability .product-unavailable {
  color: red;
}


/** Malo **/

.titre_interieur_a_propos::after {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 5px;
    margin-top: 4px;
    background-color: #afed00;

}
